---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/UniProject/styles/global.css" />
    <title>MerajMehdizade</title>
  </head>
  <body>
    <slot />
  </body>
</html>
